<%% secondary_navigation({:value => link_to(t(:list),<%= plural_table_name %>_path)}, {:value => link_to(t(:add), new_<%= singular_table_name %>_path)}, {:value => link_to(t(:edit), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>))}, {:value => link_to(t(:show), @<%= singular_table_name %>), :active => true}) %>

<% attributes.each do |attribute| -%>
<p>
  <b><%%= t('attributes.<%= singular_table_name %>.<%= attribute.name %>') %>:</b>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>
<!--<%%#= link_to t('attributes.<%= singular_table_name %>.op_new'), new_<%= singular_table_name %>_path %> |-->
<!--<%%#= link_to t(:edit), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |-->
<!--<%%#= link_to t(:back), <%= index_helper %>_path %>-->
