<div id="session">
  <%- if user_signed_in? -%>
    <%= t("authentication.signed_in_as") %> <strong><%= current_user.email || "Guest" %></strong>. <%= t("authentication.not_you") %>
    <%= link_to t("authentication.sign_out"), destroy_user_session_path, :method => :delete %>
  <%- else -%>
    <%= link_to t("authentication.sign_up"), new_user_registration_path %> -
    <%= link_to t("authentication.sign_in"), new_user_session_path %>
  <%- end -%>
</div>
<div class="clear"></div>