<%- attributes.each do |attribute| -%>
  <div class="field">
    <%%= f.label :<%= attribute.name %>, t('attributes.<%= singular_table_name %>.<%= attribute.name %>') %><br />
    <%- case attribute.type
        when :references, :belongs_to  -%>
    <%% if <%= singular_table_name %>.new_record? -%>
        <%%= f.collection_select :<%= attribute.name %>_id, <%= attribute.name.classify %>.all, :id, :name, :prompt => true if can?(:manage, <%=class_name %>) %>
    <%% else -%>
        <%%= f.collection_select :<%= attribute.name %>_id, <%= attribute.name.classify %>.all, :id, :name, :prompt => true %>
    <%% end -%>
    <%-	when :date -%>
    <%%= f.text_field :<%= attribute.name %> <%=", :class => \"calendar\"" if jquery_ui?%> %>
    <%-	else -%>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
    <%- end -%>
  </div>
<%- end -%>